<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayush.flow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/flow"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flow"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flow">
        <activity android:name=".flow.activity.Outgoing"></activity>
        <activity android:name=".flow.activity.Calling" />
        <activity android:name=".flow.activity.Contact" />
        <activity android:name=".flow.activity.Message" />
        <activity android:name=".flow.activity.Addprofile" />
        <activity android:name=".flow.activity.Dashboard" />
        <activity android:name=".flow.activity.Register" />
        <activity android:name=".flow.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>